{
  "extends": ["next", "next/core-web-vitals", "airbnb"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
        "moduleDirectory": ["node_modules", "src/"],
        },
    },
  },
  "rules": {
    "arrow-parens": "off",
    "linebreak-style": ["error", "windows"],    
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
